colecao 

.exibir{
    display: flex;
    justify-content: right;
    padding-right: 6rem;
}
#exibir {
    align-items: right;
    background-color: #03e9f4;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0px 0px 15px 15px;
    color: #000000a9;
    cursor: pointer;
}
.principal{
  display: flex;  
  justify-content: center;
  margin-top: 50px;
  
}
.form-container{
    background-color: var(--cor-modal);
    width: 50%;
    border-radius: 1rem;
    padding: 2rem;
    
    
}
.colecionavelh2 {
    text-align: center;
    color: white;
}
.form {
    margin-bottom: 15px;
}
.form-valor {
  margin-bottom: 2rem;
}
.form input {
    width: 100%;
    padding-top: 1.5rem;
    border: none; 
    border-bottom: 2px solid white; 
    background-color: transparent; 
    color: white; 
    font-size: 16px; 
    outline: none; 
    padding-bottom: 1rem;
   
}
.form-valor input {
  width: 100%;
  padding-top: 1.5rem;
  border: none; 
  border-bottom: 2px solid white; 
  background-color: transparent; 
  color: white; 
  font-size: 16px; 
  outline: none; 
  padding-bottom: 1rem;
 
}
.detalhes div{
  padding: 2rem;
}

.detalhes input {
  padding-top: 5px;
  width: 100%;
  border: 1px solid white;
  border-bottom: 2px solid white; 
  background-color: transparent; 
  padding-bottom: 4rem;
  color: white;
  border-radius: 10px;

}

input::placeholder{
    color: white;
    
}
.div-selecionar {
  padding-top: 2rem;
}
.arquivo {
  width: 40%;
  padding: 10px;
  background: aqua;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}
#nome-arquivo{
  padding-left: 1rem;
}
input[type="file"]{
  display: none;
}

.div-botao {
  display: flex;
  padding-top: 3rem;
  gap: 3rem;
  padding-left: 3.5rem;
}
.botao-gravar {
  width: 40%;
  padding: 10px;
  background: aqua;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  
}
.botao-gravar:hover {
  background: white;
}

#limpar {
  width: 40%;
  padding: 10px;
  background: aqua;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  
}
#limpar:hover {
  background: white;
}

  
  h1 {
    padding-top: 7rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    
  }
  .container {
    padding: 0rem 2rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead tr {
    background-color: var(--cor-modal);
    color: #fff;
    font-weight: 700;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
    font-weight: 500;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
 .imagem-tabela {
    max-width: 50px;
    height: auto;
    border-radius: 4px;
  }
  
  button {
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    background-color: var(--cor-fundo);
    
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .editar {
    background-color: var(--cor-modal);
    color: black;
    
  }
  
  .excluir {
    background-color: var(--cor-modal);
    color: black;
    
  }

  .exibir {
    float: right; /* ou float: left; */
  }